/* General styles */
body {
    background-color: #EFEFF3;
    color: #000000;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

@media screen{
    body {
        font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

/* Header */
.header {
    background-color: #131314;  /* Изменили фон на #131314 */
    color: #FFFFFF;  /* Цвет текста в хедере — белый */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Добавим отступ между аватаром и юзернеймом */
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;  /* Отступ справа от аватарки */
}

#user-username {
    margin-right: 0;
    font-size: 0.9rem;
    color: #FFFFFF;  /* Цвет юзернейма — белый */
}

/* Main content */
.main-content {
    width: 100%;
    margin: 20px 0; /* Убираем отступы по бокам */
    padding: 0 20px;
    box-sizing: border-box;
}

/* Block styles */
.block-title {
    text-align: left;   
    font-size: 0.75rem;
    font-weight: normal;
    color: #6D6D71;
    margin-bottom: 5px;
    margin-left: 10px; /* Добавляем небольшой отступ слева */
}

.content-block {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);  /* Еще более мягкая тень */
    text-align: center;
    width: 100%; /* Растягиваем блоки на всю ширину */
    box-sizing: border-box; /* Для корректного расчета отступов */
}

.content-block p {
    color: #a7a7a7; /* Цвет текста внутри блоков */
    font-size: 0.9rem; /* Увеличиваем шрифт */
}

.join-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Отступ между строками */
}

.join-text {
    font-size: 0.85rem; /* Уменьшаем размер текста слева */
    color: #000000; /* Темный цвет для текста */
}


/* Стили для кнопок */
.join-button {
    display: inline-block;
    padding: 5px 15px;  /* Уменьшаем внутренние отступы для уменьшения высоты */
    background-color: #0099FF; /* Яркий, но менее агрессивный синий */
    color: white;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9rem; /* Размер шрифта */
    line-height: 1.2;  /* Строка текста будет немного сжата по вертикали */
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #007ACC; /* Немного темнее для ховера */
}

.separator {
    border: 0; /* Убираем стандартное оформление */
    border-top: 1px solid #D3D3D3; /* Тонкая линия серого цвета */
    margin: 10px 0; /* Отступ сверху и снизу */
    width: 100%; /* Ширина на всю ширину контейнера */
}