/* Общие стили */
body {
    background-color: #EFEFF3;
    color: #000000;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Хедер */
.header {
    background-color: #131314;
    color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Стили заголовка страницы */
.page-title {
    font-size: 1.5rem; /* Увеличенный размер шрифта */
    color: #000000; /* Черный цвет текста */
    text-align: left; /* Выравнивание по левому краю */
    margin: 20px 0 10px 20px; /* Отступы: сверху, справа, снизу и слева */
    font-weight: bold; /* Более жирный текст */
}

/* Блок контента */
.content-block {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 90%;
    box-sizing: border-box;
}


.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}

#user-username {
    font-size: 0.9rem;
    color: #FFFFFF;
}

/* Основной контент */
.main-content {
    flex: 1; /* Растягиваем основной контент */
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Общие стили для футера */
.footer-menu {
    background-color: #ffffff;
    border-top: 1px solid #eaeaea;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Высота футера */
    display: flex;
    justify-content: space-between; /* Располагаем элементы равномерно */
    align-items: center;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05); /* Мягкая тень */
    padding: 0 20px; /* Уменьшаем отступы с боков */
    box-sizing: border-box;
}

/* Стили для элементов меню */
.menu-item {
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали */
    text-align: center;
    color: #8C8C8C;  /* Серый цвет текста и иконок */
    font-size: 0.75rem; /* Размер шрифта */
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Убираем цвет ссылки */
.menu-item a {
    text-decoration: none;  /* Убираем подчеркивание */
    color: inherit;  /* Наследуем цвет от родителя */
    display: flex; /* Делаем ссылку flex-элементом */
    flex-direction: column; /* Размещаем содержимое вертикально */
    align-items: center; /* Центрируем содержимое по горизонтали */
    justify-content: center; /* Центрируем содержимое по вертикали */
}

/* Активный элемент */
.menu-item.active {
    color: #179CDE;  /* Синий цвет для активного элемента */
}

/* Иконки */
.menu-item i {
    font-size: 1.5rem;  /* Размер иконок */
    margin-bottom: 5px;  /* Отступ между иконкой и текстом */
    transition: transform 0.3s ease;
}

/* Эффект при наведении на иконки */
.menu-item:hover i {
    transform: scale(1.2);  /* Увеличение иконки при ховере */
}